*{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 213, 153);
    color: rgb(48, 150, 153);


}
h1{
    margin-bottom:5px;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
}

.city-box{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}
form{
    padding:50px;
    border:solid 5px;
    border-radius:5px;
}

.submit{

    margin-top: 20px;
}

.input{
    font-size: 15px;
    padding: 7px;
    border:solid 2px;
    border-radius: 5px;
    background-color: purple;
}